.side-bar {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  color: #1c1c1c;
  & h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 23px;
  }
  & hr {
    border-top: 2px solid #dee2e7;
    margin-bottom: 14px;
  }
}
.brands {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__wrapper {
  display: flex;
  align-items: center;
  gap: 13px;
  & input {
    width: 20px;
    height: 20px;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
  }
  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}

.price {
  display: flex;
  flex-direction: column;
  & h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 23px;
  }
}
.prise__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  & input {
    max-width: 110px;
    padding: 10px;
    height: 40px;
    border: 1px solid #dee2e7;
    border-radius: 6px;
  }
}
.apply__btn {
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 10.5px 16px;
  width: fit-content;
  align-self: center;
  border: 1px solid #dee2e7;
  box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0d6efd;
}

.reset__btn {
  background-color: transparent;
  border: none;
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0d6efd;
}
