.main {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: #1c1c1c;
  min-height: 460px;
  background-color: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
}
.main__img {
  width: 380px;
  height: 380px;
}

.main__text {
  display: flex;
  flex-direction: column;
  & h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  & strong {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
  }
  & button {
    border: none;
    padding: 12px;
    background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
    border-radius: 6px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
.text__block {
  padding-block: 14px;
  border-bottom: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 14px;
  & div {
    display: flex;
    align-items: center;
    & span {
      width: 100px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #8b96a5;
    }
    & p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #505050;
    }
  }
}
