.product__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border: 1px solid #dee2e7;
  border-radius: 6px;
  padding: 20px;
<<<<<<< HEAD
  max-width: 920px;
=======
>>>>>>> 3dc796852617115159451466aadaa6bc7c6391fd
}
.product__description {
  display: flex;
  flex-direction: column;
  & h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  & strong {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 4px;
  }
  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8b96a5;
    margin-bottom: 7px;
  }
  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #505050;
    margin-bottom: 8px;
  }
  & button {
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0d6efd;
    width: fit-content;
  }
}
