*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
<<<<<<< HEAD
  background-color: #dadada;
  font-family: "Inter", sans-serif;
  padding: 20px 0 80px 0;
=======
  background-color: #DEE2E7;
  font-family: 'Inter', sans-serif;
>>>>>>> 3dc796852617115159451466aadaa6bc7c6391fd
}
